* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: SeaGreen;
    text-align: center;
    display: block;
    background-color: bisque;
    border: 2px inset silver;
}

p,
li {
    font-size: 18px;
}

a {
    text-decoration: none;
}